name: Release
on:
  push:
    branches:
      - main

env:
  HUSKY: 0

jobs:
  release:
    permissions:
      id-token: write # Required for OIDC
      contents: write # for release publishing
      pull-requests: write
      issues: write # additional permission that might be needed

    name: Release
    env:
      commitmsg: ${{ github.event.head_commit.message }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'yarn'
      - name: Install dependencies Node
        run: npm install --frozen-lockfile --non-interactive
      - run: npm run build
      - name: Release Node
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
        run: npx semantic-release
